.nav-links {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 5%;
  transition: top 0.5s ease;
}
.nav-links > a {
  margin-left: 10px;
  margin-bottom: 10px;
}

.nav-links.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: nowrap;
  background-color: black;
  border-bottom: 2px solid #d83b65;
}

.nav-links.scrolled a {
  width: 100%;
  border: none;
  padding: 20px 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d83b65;
  font-size: 1.5em;
  cursor: pointer;
  width: 40%;
  transition: transform 0.2s ease;
  border-left: 2px solid #d83b65;
}

.nav-cart:hover {
  color: thistle;
  transition: all;
}
