.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  height: calc(100vh - 6rem) !important;
  width: 96%;
  margin: 0vw auto;
  margin-top: 70px;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.home-container > div {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 9rem;
  color: white;
  text-align: center;
  margin-bottom: 10rem;
  min-height: 20%;
  padding-top: 8rem;
}

.home-title-back {
  position: absolute;
  transform: translateY(2%) translateX(0.5%);
  color: #d83b65 !important;
  font-weight: bold;
  font-family: "Rye", serif;
  grid-row-start: 1;
  grid-column-start: 1;
  color: rgb(12, 12, 12);
  font-size: 10rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.home-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 2rem 0;
  overflow: hidden;
}

.home-button {
  height: fit-content;
  background-color: transparent;
  color: #d83b65;
  border: 2px solid #d83b65;
  padding: 3rem 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.home-button:hover,
.home-button:focus {
  background-color: transparent;
  color: white;
  transition: 0.6s ease all;
}

.home-button:hover:after,
.home-button:focus:after {
  z-index: -2;
}

.home-button:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #d83b65;
  z-index: -1;
}

.home-button:after {
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  bottom: 0;
  content: "";
  background-color: black;
  z-index: -1;
}

.home-button:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.home-button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.home-image {
  position: absolute;
  top: 6rem;
  z-index: -2;
  width: 50%;
}

.home-line {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #d83b65;
  border-left: 2px solid #d83b65;
}

.home-line-horizontal {
  position: absolute;
  z-index: 1;
  height: 2px;
  width: 100%;
  background-color: #d83b65;
}

.top {
  top: 3rem;
}

.bottom {
  bottom: 3rem;
}

.left {
  left: 2vw;
}

.right {
  right: 2vw;
}

/* Path: src/components/Bio.js */

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: white;
  min-height: 100vh;
  width: 96%;
  margin: 0 auto;
  padding-top: 5rem;
}

.bio-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 5rem;
  z-index: -1;
}

.bio-main span {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
}

.bio-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.bio-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 9rem;
  color: white;
  text-align: center;
  margin-bottom: 10rem;
  min-height: 20%;
  padding-top: 0rem;
  z-index: 3 !important;
}

.bio-stack span {
  color: var(--dpink);
}

.bio-back {
  position: absolute;
  transform: translateY(-1%) translateX(0.3%);
  color: var(--pink) !important;
  z-index: -1;
  width: 100%;
}

.bio-container p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 2rem;
  opacity: 1;
  overflow: hidden;
}

.bio-container p:last-child {
  margin-bottom: 2rem;
}

.footer {
  justify-content: space-evenly;
  color: var(--white);
  background-color: var(--dpink);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.footer-title {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Rye", serif;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 0.8em;
  font-family: "Rye", serif;
}

.music-section {
  min-height: 20vw !important;
  margin: 5vw auto;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.shop-section {
  min-height: 20vw !important;
  margin: 5vw auto;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

@media (max-width: 600px) {
  .footer-links a {
    display: block;
    margin: 5px 0;
  }
}
