.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  height: 100% !important;
  min-height: 100vh;
  /* background-position: 0% 30%; */
  margin: 0vw auto;
  background-size: cover;
  animation: backgroundFadeIn 1.5s ease-out forwards;
  transition: background-image 1s ease-in-out;
}

.home-container > img {
  width: 100% !important;
  z-index: -2;
}

.home-stack {
  position: relative;
  width: 30%;
  color: var(--primary) !important;
  text-align: center;
  z-index: 3 !important;
  overflow: visible !important;
}

.home-stack .bio-back {
  color: #141414 !important;
}

.home-image {
  position: absolute;
  top: 6rem;
  z-index: -2;
  width: 50%;
}

.home-line {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #d83b65;
  border-left: 2px solid #d83b65;
}

.home-line-horizontal {
  position: absolute;
  z-index: 1;
  height: 2px;
  width: 100%;
  background-color: #d83b65;
}

.top {
  top: 3rem;
}

.bottom {
  bottom: 3rem;
}

.left {
  left: 2vw;
}

.right {
  right: 2vw;
}

/* Path: src/components/Bio.js */

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: white;
  width: 96%;
  margin: 0 auto;
  padding-top: 10rem;
}

.bio-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 5rem;
  z-index: -1;
}

.bio-main span {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
}

.bio-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.bio {
  position: relative;
  font-size: 9rem !important;
}
.bio .back {
  color: var(--white) !important;
}

.bio-container p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 2rem;
  opacity: 1;
  overflow: hidden;
}

.bio-container p:last-child {
  margin-bottom: 2rem;
}

.footer {
  justify-content: space-evenly;
  color: var(--white);
  background-color: var(--dpink);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.footer-title {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Rye", serif;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 0.8em;
  font-family: "Rye", serif;
}

.music-section {
  background-size: cover;
  transition: background-image 1s ease-in-out;
  margin-top: 10vw;
  margin-bottom: -5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5vw;
  position: relative;
  top: -70px;
}

.shop-section {
  min-height: 30vw !important;
  margin-top: 10vw;
  margin-bottom: 5vw;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.bio-section {
  margin-top: 3%;
}

.socials {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000000000;
}

.social-button {
  font-size: 1.5em;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--white);
  padding: 1rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 10px 0px rgb(255, 255, 255);
}

.social-button:hover {
  background-color: var(--white);
  color: var(--dpink);
}

@keyframes backgroundFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
